#div1{
    width: 1302px;
    height: 500px;

}
#div2{
    width: 1100px;
    height: 500px;
    border-right-width:2px;
    border-right-style: solid;
    border-color:rgba(30, 30, 30, 0.50);
    float: left;
}
#div3{
    width: 200px;
    height: 500px;
    float: left;
}
.semaine{
    margin-left: 50px;
    margin-bottom: 10px;
}