/* Début Gabarit */

body {
	background-image: url(../images/fond.png);
    background-repeat: no-repeat;
    background-size: 100% 1200px;
    background-attachment: fixed;
}
.center{ 
    text-align: center;
}
#Titre {
margin-top: 100px;
font-size: 110px;
}
.menu{
   font-size: 40px;
   width: 260px;
   float: left;
   background-color: inherit;
   border:inherit;
   text-align: left;
}
.menu:hover{
    font-size: 42px;
    color:burlywood;
}
.btn{
    font-size: 40px;
   background-color: inherit;
   border:inherit;
}
.btn:hover{
    font-size: 42px;
    color:burlywood;
}
.btn2{
    font-size: 24px;
    background-color: inherit;
    border:inherit;
}
.btn2:hover{
    font-size: 26px;
    color:burlywood;
}
.Texte{
font-family: Bradley Hand ITC;
}
#contenu{
    min-height:500px;
    width: 1300px;
    margin-left: 300px;
}
.image{
  height: 40px;
width: 40px;
}
.image:hover{
    height: 42px;
    width: 42px;
}

/* Fin Gabarit */