#container-inscription{
    margin-left: 351px;
    background-color:rgba(196, 187, 157, 0.80);
    height: 450px;
    width: 500px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.label{
    width: 200px;
    float: left;
}
.formInscr{
    
    font-size: 32px;
}