/* Début Produits */

.caseproduits{
    border-radius: 250px;
    background-color:rgba(196, 187, 157, 0.90);
    height: 250px;
    width: 250px;
    font-family: Bradley Hand ITC;
    float: left;
    margin-bottom: 20px;
}
.caseproduits:hover{
    background-color:rgba(196, 187, 157);
}
#contenu2 {
width: 100%;
text-align:center;/* On centre les éléments */		
}
    
/* Fin Produits */